<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div>
      <%= f.label :Institution %><br />
      <%= f.select :Org, options_for_select([["Select One", ""],
                                             ["Alexandria Library",1],
                                             ["Bridgewater College",2],
                                             ["College of William and Mary",3],
                                             ["Colonial Williamsburg",4],
                                             ["Fairfax County Public Library",5],
                                             ["George Mason University",6],
                                             ["Gunston Hall Library & Archives",7],
                                             ["Handley Regional Library",8],
                                             ["Hollins University",9],
                                             ["James Madison University",10],
                                             ["Library of Virgina",11],
                                             ["Longwood University",12],
                                             ["Montgomery County Circuit Court",13],
                                             ["Old Dominion University",14],
                                             ["Roanoke Public Libraries",15],
                                             ["Radford University",16],
                                             ["Randolph-Macon College",17],
                                             ["Shenandoah County Library",18],
                                             ["Thomas Balch Library",19],
                                             ["University of Mary Washington",20],
                                             ["University of Richmond",21],
                                             ["University of Virginia, Health Sciences Library",22],
                                             ["University of Virginia, Law Library",23],
                                             ["University of Virginia, Music Library",24],
                                             ["University of Virginia, Special Collections",25],
                                             ["Virginia Commonwealth University, James Cabell Library",26],
                                             ["Virginia Commonwealth University, Tompkins-McCaw Library",27],
                                             ["Virginia Historical Society",28],
                                             ["Virginia Military Institute",29],
                                             ["Virginia Museum of Fine Arts",30],
                                             ["Virginia Polytechnic Institute and State University",31],
                                             ["Virginia State Law Library, Supreme Court of Virginia",32],
                                             ["Virginia State University",33],
                                             ["Virginia Union University",34],
                                             ["Washington and Lee University, Law School",35],
                                             ["Washington and Lee University, Leyburn Library",36],
                                             ["Wytheville Community College",37]
                                            ]), :class =>'dropbox' %>
    </div>


    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>