<div class="page_content">
  <div class="header">
    <a href="http://vaheritage.org/">
      <img src="http://ead.lib.virginia.edu/vivaead/logos/vhpban.jpg" alt="VIVA EAD Logo" class="logo" /></a>
    <br class="clear" />
  </div>
  <div class="menu_container">
    <ul class="menu">
      <li class="tab-select"><a href="search?smode=simple">Log In</a></li>
      <li class="tab"><a href="http://search.vaheritage.org/vivaxtf/search?smode=advanced">Advanced Search</a></li>
      <li class="tab"><a href="http://search.vaheritage.org/vivaxtf/search?smode=browse&browse-all=yes">Browse</a></li>
      <li class="alt-tab"><a href="http://www.vivalib.org/">about VIVA</a></li>
      <li class="alt-tab"><a href="http://vaheritage.org/">Virginia Heritage</a></li>
      <li class="alt-tab"><a href="/viva-upload/upload.jsp">admin upload</a></li>
    </ul>
  </div>
  <div class="form">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div>
      <%= f.label :Institution %><br />
      <%= f.select :Org, options_for_select([["Select One", ""],
                                             ["Alexandria Library",1],
                                             ["Averett University",2],
                                             ["Bridgewater College",3],
                                             ["College of William and Mary",4],
                                             ["Colonial Williamsburg",5],
                                             ["Fairfax County Public Library",6],
                                             ["George Mason University",7],
                                             ["Gunston Hall Library & Archives",8],
                                             ["Handley Regional Library",9],
                                             ["Hollins University",10],
                                             ["James Madison University",11],
                                             ["Library of Virgina",12],
                                             ["Longwood University",13],
                                             ["Montgomery County Circuit Court",14],
                                             ["Norfolk Public Library",15],
                                             ["Old Dominion University",16],
                                             ["Roanoke College",17],
                                             ["Roanoke Public Libraries",18],
                                             ["Radford University",19],
                                             ["Randolph-Macon College",20],
                                             ["Shenandoah County Library",21],
                                             ["Thomas Balch Library",22],
                                             ["University of Mary Washington",23],
                                             ["University of Richmond",24],
                                             ["University of Virginia, The Center for Nursing Historical Inquiry",25],
                                             ["University of Virginia, Health Sciences Library",26],
                                             ["University of Virginia, Law Library",27],
                                             ["University of Virginia, Music Library",28],
                                             ["University of Virginia, Special Collections",29],
                                             ["Virginia Commonwealth University, James Cabell Library",30],
                                             ["Virginia Commonwealth University, Tompkins-McCaw Library",31],
                                             ["Virginia Historical Society",32],
                                             ["Virginia Military Institute",33],
                                             ["Virginia Museum of Fine Arts",34],
                                             ["Virginia Polytechnic Institute and State University",35],
                                             ["Virginia State Law Library, Supreme Court of Virginia",36],
                                             ["Virginia State University",37],
                                             ["Virginia Union University",38],
                                             ["Washington and Lee University, Law School",39],
                                             ["Washington and Lee University, Leyburn Library",40],
                                             ["Woodrow Wilson Presidential Library & Museum",41],
                                             ["Wytheville Community College",42],
                                             ["Wythe County Historical Society",43]
                                            ]), :class =>'dropbox' %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
<% end %>

<%= render "devise/shared/links" %>
  </div>
</div>